:root {
  --main-header-bg-color: #EEEEEE;
  --page-body-bg-color: #FFFFFF;
  --advantage-bg-color: #EEEEEE;
  --advantages-button-color: #FFFFFF;
  --advantages-button-bg-color: #FB565A;
  --features-button-WebSites-color: #FFFFFF;
  --features-button-WebSites-bg-color: #FB565A;
  --features-button-Apps-color: #FFFFFF;
  --features-button-Apps-bg-color: #00CA74;
  --features-button-Presentation-color: #FFFFFF;
  --features-button-Presentation-bg-color: #EFC849;
  --contacts-card-bg-color: #FFFFFF;
  --contacts-card-button-bg-color:#FB565A;
  --contacts-card-color: #666666;
  --footer-discount-description-color:#444444;
}
.page-body {
  background-color: var(--page-body-bg-color);
  width: 1440px;
  height: 545px;
  left: 0px;
  top: 0px;
}
.main-header {
  background: var(--main-header-bg-color);
}

.site-navigation li {
  font-size: 16px;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 30px;
}

.cart-link {
  font-size: 16px;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 30px; 
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto";
  text-transform: uppercase;
  border-radius: 3px;
}

.advantages {
  background: var(--advantage-bg-color);
}

.advantages-title {
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 55px;
}

.advantages-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}

.advantages-button{
  color: var(--advantages-button-color);
  background: var(--advantages-button-bg-color);
  border-radius: 3px;
}

.features-title-link {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.features-item p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}

.features-button-WebSites {
  font-weight: bold;
  color: var(--features-button-WebSites-color);
  background: var(--features-button-WebSites-bg-color);
}

.features-button-Apps {
  font-weight: bold;
  color: var(--features-button-Apps-color);
  background: var(--features-button-Apps-bg-color);
  border-radius: 3px;
}

.features-button-Presentation {
  font-weight: bold;
  color: var(--features-button-Presentation-color);
  background: var(--features-button-Presentation-bg-color);
  border-radius: 3px;
}

.about-text-large {
  font-family: "Roboto";
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}

.about-title {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.about-item {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px; 
}

.capability-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
}

.capability-value {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.capability-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
}

.contacts-card {
  background: var(--contacts-card-bg-color);
}

.contacts-card h3 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts-card address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts-card-color);
}

.contacts-card p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts-card-color);
}

.contacts-card button {
  background: var(--contacts-card-button-bg-color);
  border-radius: 3px;
}

.footer-discount-heading {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-discount-description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-discount-description-color);
}

.visually-hidden {
display: none;
}