:root {
  --basic-supers-silver: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-grey: #666666;
  --basic-dark:#444444;
  --basic-black: #000000;
  --basic-blue: #283136;
  --inner-radio-background-color: #4D4D4D;
}

/* Global */

.page-body {
  background-color: var(--basic-white);
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 500;
}

.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  color: var(--basic-white);
  border:none;
}
/* Main navigation */

.main-header {
  background: var(--basic-supers-silver);
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  text-transform: uppercase;
  line-height: 30px;
}

.main-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.cart-link {
  text-transform: uppercase;
  line-height: 30px; 
}

.advantages {
  background-color: var(--basic-supers-silver);
}

.advantages-slide a {
  text-decoration: none;
}

.advantages-title {
  font-size: 55px;
  line-height: 55px;
}

.advantages-text {
  line-height: 24px;
  font-weight: 400;
}

.advantages-button{
  background-color: var(--basic-red);
}

.features-list {
  list-style: none;
}

.features-item a {
  color: var(--basic-white);
  text-decoration: none;
}

.features-item-title a {
  color: var(--basic-black);
  text-decoration: none;
}

.features-title-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-item p {
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-blue);
}

.features-button-websites {
  background-color: var(--basic-red);
}

.features-button-apps {
  background-color: var(--basic-green);
}

.features-button-presentation {
  background-color: var(--basic-yellow);
}

.about-text-large {
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-blue);
}

.about-title {
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-blue);
}

.about-list {
  list-style: none;
  color: var(--basic-blue);
}

/*li.about-item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  
	background-color: var(--basic-red);
}*/

.about-item {
  line-height: 24px;
  font-weight: 400;
}

.capability-title {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.capability-list {
  list-style: none;
}

.capability-value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.capability-text {
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-blue);
}

.contacts-card {
  background: var(--basic-white);
}

.contacts-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-card address,
.contacts-card p,
.contacts-card a {
  font-weight: 400;
  font-style: normal;
  color: var(--basic-grey);
}

.contacts-card a {
  text-decoration: none;
}

.contacts-card button {
  background: var(--basic-red);
  border-radius: 3px;
}

.footer-discount-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-discount-description {
  font-weight: 400;
  line-height: 22px;
  color: var(--basic-dark);
}

.social-list {
  list-style: none;
} 

.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Inner */

.inner-title {
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-supers-silver);
}

.filter fieldset{
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-rate label{
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.filter-input-text {
  width: 80px;
  height: 38px;
  text-align: center;
  background-color: var(--basic-supers-silver);
  border: none;
  border-radius: 3px;
  color: var(--basic-blue);
}

.filter-sort span,
.filter-features span {
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-blue);
}

.filter-button {
  width: 260px;
  height: 50px;
  color: var(--basic-black);
  background-color: var(--basic-supers-silver);
}

.sort h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-item .select-button {
  font-size: 14px;
  font-weight: 400;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: inherit;
}

.products-list {
  list-style: none;
}

.products-item a {
  text-decoration: none;
}

.products-information-title a {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.products-information p {
  font-weight: 400;
}

a.products-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 200px;
  height: 50px;
  text-decoration: none;
}
.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-link {
  color: var(--basic-black);
  text-decoration: none;
}